.hero-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.hero-section {
  z-index: 10;
}

.headshot {
  margin: 0;
  width: 400px;
  height: auto;
}

.hero-title {
  position: relative;
  z-index: 20;
  margin-top: -80px;
  margin-bottom: 5px;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 80px;
  background: linear-gradient(to right, #abd9d9, #8d8dda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-subtitle {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #abd9d9;
  font-weight: 500;
  font-size: 22px;
}

.social-logos {
  position: absolute;
  left: 25vw;
  height: 200px;
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.github-logo,
.linkedin-logo {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}
