.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.hamburger-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
}

.hamburger {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.menu {
  list-style-type: none;
  background-color: #002;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-nav-link {
    cursor: pointer;
}

.menu.open {
  transform: translateY(0);
}

.menu li {
  font-size: 22px;
  font-weight: 500;
}

.mobile-social-icon {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

@media (min-width: 613px) {
  .mobile-nav {
    display: none;
  }
}
