.App {
  background-color: #000222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Lato', sans-serif;
}

.nav {
  position: absolute;
  top: 0;
  z-index: 10;
}
